* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    width: 100%;
    height: 100vh;
}

.imglogo {
    width: 100%;
    height: 40px;
    border-radius: 40%;
}

ul {
    width: 100%
}

li {
    width: 50%;
    text-align: center;
}

.position {
    position: fixed !important;
    width: 100%!important;
    z-index: 55555555555;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

main .left_div {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.img {
    background-image: url(../img/1.jpg);
}

.img1 {
    background-image: url(../img/2.png);
}

.img5 {
    background-image: url(../img/6.jpg);
}

.son {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}


/* left_div */

.right_div {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    position: fixed;
}

.right_div h1 {
    margin-left: 50px;
    margin-top: 3cm;
    font-size: 40px;
    font-weight: 400;
}

.right_div h1 span {
    color: rgb(85, 85, 250);
}

.right_div p {
    margin-left: 50px;
    padding-right: 100px;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    margin-top: 15px;
    margin-left: 50px !important;
    cursor: pointer;
    border: none;
    border-radius: 10px !important;
}

button:hover {
    /* padding-left: 20px; */
    background-color: rgb(85, 85, 250);
    /* color: #fff; */
}