* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
}

.imglogo {
  width: 100%;
  height: 40px;
  border-radius: 40%;
}

ul {
  width: 100%
}

li {
  width: 50%;
  text-align: center;
}

.product {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  margin: 15px 0;

}

::placeholder {
  color: white;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 15px;
  color: white;
  margin-top: 15px;
}

.price input {
  width: 20%;
  margin-top: 10px;
}

#total {
  background-color: red;
  padding: 10px 10px;
  border-radius: 4px;
  margin-left: 10px;
}

#total::before {
  content: "total: ";
}

button {
  width: 90%;
  padding: 15px;
  margin-top: 10px;
  background-color: darkblue;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: blue;
  color: white;

}

.btnsearch {
  display: flex;
  justify-content: space-between;
}

.btnsearch button {
  width: 45%;
}

table {
  width: 100%;
  text-align: center;
  margin: 30px 5px;
}

table th {
  text-transform: capitalize;
}