* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.imglogo {
    width: 100%;
    height: 40px;
    border-radius: 40%;
  }
  
  ul {
    width: 100%
  }
  
  li {
    width: 50%;
    text-align: center;
  }

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.title h1 span {
    color: rgb(85, 85, 250);
}

.title p {
    text-align: center;
    font-size: large;
    font-weight: 300;
    color: gray;
    margin-top: 5px;
}

.left_div {
    width: 25%;
    height: 80%;
    background-color: rgb(78, 78, 245);
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 20px;
}

.left_div h2 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
    color: rgb(236, 226, 226);
    


}
.left_div p{
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 30px;
    color: rgb(218, 203, 203);
}
.left_div a{
    font-size: 25px;
    color: rgb(226, 130, 95);
    margin-left: 20px;
    display: inline-block;
}
.left_div h3 {
    color: rgb(231, 152, 123);
    /* margin-left: 10px; */
    /* font-size: 20px; */

}
.left_div tr td{
    padding: 15px 0px   ;
    /* margin-right: 20px; */
    overflow: hidden;
}
.right_div h1{
    font-size: 35px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/* ###############33 */

.right_div{
  width: 40%;
  height: 80%;
  position: absolute;
  top: 15%;
  right: 15%;
  box-shadow: 1px 1px 5px 0px black;
  border-radius: 20px;
}
.right_div input{
    width: 45%;
    height: 40px;
   margin-left: 2%;
   margin-top: 5%;
   border: none;
   border-bottom: 1px lightgray solid;
}
.radio{
    font-size: 20px;
    font-weight: 300;
    color: rgb(97, 96, 96);
}
.radio input{
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
}
.right_div textarea{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px lightgrey solid;
}
.right_div button{
    padding: 10px 70px;
    font-size: 25px;
    background-color: rgb(78, 78, 245);
    border: none;
    color: #fff;
    border-radius: 3px;
    margin-left: 60%;
    cursor: pointer;
}