* {
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.imglogo {
    width: 100%;
    height: 40px;
    border-radius: 40%;
}

ul {
    width: 100%
}

li {
    width: 50%;
    text-align: center;
}

.father {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.father .son1 {
    margin-top: 2%;
    width: 30%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
}

.father .son2 {
    margin-top: 2%;
    width: 60%;
    height: 80vh;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
}

img {
    width: 55%;
    margin-left: 23%;
    margin-top: 5%;
    border-radius: 50%;
}

.ul {
    margin-left: 20%;
    color: aliceblue;
}

ul li:hover {
    color: rgba(255, 255, 255, 0.516);
    cursor: pointer;
}

.son2 h1 {
    text-align: center;
}

.input1 {
    width: 80%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.473);
}

.form {
    margin-left: 10%;
}

.btns {
    width: 100%;
    margin-left: 7%;
}

.btns .submit {
    width: 20%;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.473);
    font-size: 20px;
}

.btns .submit:hover {
    background-color: rgba(128, 128, 128, 0.66);
}

summary {
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui;
}

details {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}